# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
*.keystore
*.jks

#string bash
# /u3+7QAAAAIAAAABAAAAAQAHcmVsZWFzZQAAAZqbg+8KAAAE/zCCBPswDAYKKwYB
# BAEqAhEBAQSCBOmB3jECz0B6MMeTD4JxAu9CU5/CG2WSBxl3SgTpuZCjYrrHcfIu
# j+/k+l2Zwq5eFkiDl2BYVXJi+y5fCSaoeidBrdtDNimhZ1klqqiNTWDVGkHeSwh2
# qkNIvQqntdnq5bM/uyncZbwgzLVQ/nb6Y39Yr18JGFEVvOhDxCLoqYIiGOGwyVNC
# VnIPSWy5k41J7Iiy/uthAWoT7Bx/jiUvYWh++o8/6N6LuBBdU5JwH4SLXpBnsBl8
# iPglxWzIQY/f5NaSSWELOg15Kcd46XznWN+Z3BpmNm1q7keWlFnh5S7EvK5q8dpU
# Zjk7gURJoQUSyLvLBGTWTQnYqvGQkR9nLCO7w5ewXtsGl8dFml4gP4L5REpzoEZA
# HE4fE2nMj/WwZoozDebSvcRS4+7cSenh+rBjkUJBg7+iwo9ZWCqLinZrg3r5pPT2
# AMUw/hI2cTPUiY61YKe/+knvKQjdPmIc6h04l4KohlRRer1OMqWKpmfLL04BM/gc
# 3pceqycHZ0YOlqIzn0dFEVEhVYQciEWwmoycmBUveQSDFy5b4z4xVUMZt4swiuXv
# LaMD6xy5WHDJBJS1lImKm281vavQlYFEhJdlPswCJ93cpqZUFOZ2E6xfgSu0/xec
# F6/XvEY03fZ3kyGsZ4i2GuJ7Ie6T+/QKAAI1+wDnwfa7cHFx9d8ZaCL5KYMkyBtG
# fapAeM1z5x0VLACHbzPPOxlZKR1/nWKgX0T7iwc49vKuq4HqcaBPY3cLKb4blqoI
# nkzT3Agde+THf9XGPqP1D2VJ+/UG5se8ZMQfzlFU2l8s0vK4B3jqMmV5K4PidVP7
# NBXOIcyQH4hnZBBAc6SkYLGYmnURwkFk8zCmQZwmFRi8tdeWGDgYAXKqJkc/I9iK
# K2V49EanBa2TBXdow7Lw3yk/9Zh3X9SbNm7t32rLQ46rfy5T5yyPDZJXM1MU0hjy
# 5NIcl+sIOeGubRJ0UmMQ652Ti3XIQx5gsf6IuRHUNJfT+R0zvyBbsS0Dzndbqa6r
# z4dAk5t9nwxKtwWED4iHx7EXrjdvTeYdmFSwaJ7KVuWm98Tn3gCIhoBDll4CrAod
# 0YQRfizoMn97Gnz0bMbtF13e/PX/JQ8xKApMXZi/lmK+EqxVV++MtBA86MlgQljh
# gnMblFKXMbzJUVAo5CEUXhfnalxd5Qj/FPMuuiCkqW4JMzB3UmqcYvkA/Hgr0TgH
# XDEjq0c8fg0lp1FyqkN+tkKcR0tgJziX+olmwLQxR5H+wDd93UsJdDkOoePaDYRy
# 7JPppQjodMV7izg/KN08+eU4NG9957SOMKHRZQnk5RzgOPMN3fWRGf1ChlyEoyBt
# OoO6Gtlb7RZo/eWApuvPSr27wxo4/SYI4cKaUJDDDEwRqbj5c2c6e8K7B66aRyht
# O8P2lzyoV2DnO9b+rKaidmttIO6watRO8jxYnFJZ6WmVv3cX9BbGHvdBXwlUmfTz
# aiOM1DgSLoyf/gGvMe9krXrf8rWReJWHHo4sudlKgzHPSHx44j6ybwesuVsuuqyK
# ga7mwdNZAFyw3H1WIToX8c+Z7LCevKa9iqXC5YuECBx8DWyCYuzkkYjQC9wegEoQ
# sswjN+QjwL17OuXHmUm17hKmeAWZ20PUeZBkhD+Jahe0+MEWqgk5uHG9LpBFeKMA
# Axh7mzzB6Xd4FimuT2etlvdZeRkAAAABAAVYLjUwOQAAA34wggN6MIICYqADAgEC
# AgkA8oTuYdNrWdgwDQYJKoZIhvcNAQEMBQAwajELMAkGA1UEBhMCNjIxEzARBgNV
# BAgTCmphd2EgYmFyYXQxDjAMBgNVBAcTBWRlcG9rMQ8wDQYDVQQKEwZhYmhpb3Ix
# ETAPBgNVBAsTCGFiaGl1bml0MRIwEAYDVQQDEwlhYmhpdmFkeWEwIBcNMjUxMTE5
# MDk0ODAzWhgPMjA1MzA0MDYwOTQ4MDNaMGoxCzAJBgNVBAYTAjYyMRMwEQYDVQQI
# EwpqYXdhIGJhcmF0MQ4wDAYDVQQHEwVkZXBvazEPMA0GA1UEChMGYWJoaW9yMREw
# DwYDVQQLEwhhYmhpdW5pdDESMBAGA1UEAxMJYWJoaXZhZHlhMIIBIjANBgkqhkiG
# 9w0BAQEFAAOCAQ8AMIIBCgKCAQEAisyal7jP7SUUseW8kESHpuipGFP7mYqNSa40
# sFF9MgiCMwIJfs8f+HkI8YpLlJ3j5zkBLPx6KyFSmfVVBwoqKaEglfDeHSuSB9ky
# jJ4wKP55O117ECND9Z7pbqVXIj6ULMphjKPdzfkrMnG8EnHnuzlRqnuj3hCNhx8r
# RtUHxG5mihwAuVZr+ZTnwlEu5qE19MrbRXDx3q8d/9106lCJH83lDPeJ2MoE9Bud
# ehakHZOsAv8K8vmh2ox8Jz8b7qr3X3pGz9lqEk4kwpTV7tvqBsRogc48CyFHwvwA
# Lc0Q7jYMEs8gHUlpH7WP56MtGuwly0wEU2lHtKHzC+Y6p5O/jQIDAQABoyEwHzAd
# BgNVHQ4EFgQUjesMVMQwNlFu2qDoJIWgxQm8HwQwDQYJKoZIhvcNAQEMBQADggEB
# AESZ/H8w3ptWLTxis/g/n5Wk/PjhrPPauNwFMAtZVtB7hyFFnOa4+gCWuoeq0F7t
# YhLyfsq5h4CrEGbBV8ccAETNktk6/4Y7mD4kGXFpnD3+Tn7c8DGfIMETlGCXtY/p
# Pe/Hw1WlO1CIAPmq/h6LzDTRSbmTds1PUucYVYvzq767pXb2pZimxjb/Wm3ke5Kb
# OppBQo7hVe0xTluQCb2nC5R2OXqvdNbuWHRETMWkIBpokw3OCOp/9U3vyVlRwZxT
# 1zFH+9Ke60oCwyaNk5rYSgUP+CcE7USICkX5wE+w/1YOs1/8hW5fXg5pNUM7tXwi
# /o1f22xrr9xU1RFiyihQp5CysogmB8lpcSZmfKE9UQxCh6jdeQ==
